.parent-container{
    color: #ffffff;
    font-family: "Arial", sans-serif;
    background-color: var(--dark);
    margin: 0;
    min-height: 100vh;
}

.top-header{
    width: 100%;
    height: 60px;
    background-color: transparent;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div{
        display: flex;
        align-items: center;
    }

    h1{
        color: var(--primary);
        font-size: 22px;
        font-weight: 600;
        margin-left: 5px;
    }
}

.main-section{
    padding: 20px;
    margin: 30px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: max-content;
}

.side-logo{
    filter: opacity(10%);
    margin: 0;
    padding: 0;
    width: 70%;
    min-width: 200px;
    margin: 0 auto;
    border: none;
}

.vault-door-handle{
    height: 80px;
    width: 10px;
    border-radius: 10px;
    background-color:#2daaff15;
}

.logo-outline{
    border: 20px solid #2daaff15;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-outline:hover .side-logo {
    animation: spinCycle 5s ease-in-out forwards, filterPulse 5s ease-in-out forwards;
}
  
.logo-outline:hover .vault-door-handle {
    animation: filterPulseForDoorHandle 5s ease-in-out forwards;
}


/* For Loading Screen */

.side-logo-loading{
    filter: opacity(10%);
    margin: 0;
    padding: 0;
    width: 60%;
    min-width: 180px;
    margin: 0 auto;
    border: none;
    animation: loadingSpin 1.5s linear infinite;
}

.vault-door-handle-loading{
    height: 80px;
    width: 10px;
    border-radius: 10px;
    background-color:#2daaff15;
}

.side-logo-success{
    margin: 0;
    padding: 0;
    width: 60%;
    min-width: 180px;
    margin: 0 auto;
    border: none;
}

.vault-door-handle-success{
    height: 80px;
    width: 10px;
    border-radius: 10px;
    background-color:#2daaff;
}

.side-logo-error{
    filter: brightness(0) invert(55%);
    margin: 0;
    padding: 0;
    width: 60%;
    min-width: 180px;
    margin: 0 auto;
    border: none;
}

.vault-door-handle-error{
    height: 80px;
    width: 10px;
    border-radius: 10px;
    background-color: gray;
}

@keyframes loadingSpin {
    0% {
        transform: rotate(0deg);
    } 
    100% {
        transform: rotate(-360deg);
    }
}

/* --------------------- */


.module-stack{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    margin-top: 10px;
    padding: 20px;
    gap: 10px;
}

@keyframes spinCycle {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-720deg);
    }
    55% {
        transform: rotate(-720deg);
    }
    90% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes filterPulse {
    0%, 40% {
        filter: opacity(10%);
    }

    40.01%, 55% {
        filter: none;
    }

    55.01%, 100% {
        filter: opacity(10%);
    }
}


@keyframes filterPulseForDoorHandle {
    0%, 40% {
        background-color:#2daaff15;
    }

    40.01%, 55% {
        background-color:#2daaff;
    }

    55.01%, 100% {
        background-color:#2daaff15;
    }
}
  

@media (max-width: 768px){
    .main-section{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .module-stack{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
}

@media (max-width: 560px){
    .main-section h1{
        font-size: 40px;
    }

    .module-stack{
        display: flex;
        flex-direction: column;
    }
}